@using Model
@model RespondAndDataList<WellDto>
@{
    ViewBag.Title = "Скважины";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

<h2>Скважины</h2>

@if (Model.Respond.Succeded)
{
    if (Model.Data.Any())
    {

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Номер</th>
                    <th scope="col"  class="col-md-3">Добычи</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var well in Model.Data)
                {
                    <tr id="@well.ID">
                        <td>@well.ID</td>
                        <td>@well.Number</td>

                        <td class="centered">
                            @*href="@Url.Action("Extractions", "Data", new { wellId = well.ID })"*@
                            @Html.Raw("<a><i class=\"glyphicon glyphicon-circle-arrow-right\" onclick=\"selectWell('" + well.ID + "')\"></i></a>")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <span>Скважины не найдены</span>
    }
}
else
{
    <span>При обработке запроса произошла ошибка.</span>
    <span>@Model.Respond.ErrorMessage</span>
}

<div class="modal fade" id="date-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Выберите временной диапазон для фильрации добыч</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="date-picker-container">
                        <span>От:</span>
                        <input type='text'
                               class="form-control"
                               data-date-end-date="0"
                               id='datetimepicker1'
                               data-clear-btn="true"
                               autocomplete="off" />
                    </div>
                </div>
                <div class="row">
                    <div class="date-picker-container">
                        <span>До:</span>
                        <input type='text'
                               class="form-control"
                               data-date-end-date="0"
                               id='datetimepicker2'
                               data-clear-btn="true"
                               autocomplete="off" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Назад</button>
                <button type="button" class="btn btn-primary" onclick="submit()">К Добычам</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let selectedWell = undefined;

    $('#datetimepicker1').datetimepicker({
        format: 'DD/MM/YYYY',
        useCurrent: false
    });
    $('#datetimepicker2').datetimepicker({
        format: 'DD/MM/YYYY',
    });

    $("#datetimepicker1").on("dp.change", function (e) {
        $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
    });
    $("#datetimepicker2").on("dp.change", function (e) {
        $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
    });

    function selectWell(id) {
        selectedWell = id;
        $('#date-modal').modal('show');
    }

    function submit() {
        let dateForm = $('#datetimepicker1').val();
        let dateTo = $('#datetimepicker2').val();
        if (selectedWell !== undefined) {
            window.location.href = `Extractions?wellId=${selectedWell}&dateFrom=${dateForm}&dateTo=${dateTo}`;
        }
    }
</script>

<style>
    .date-picker-container {
        padding: 15px;
    }

    .modal-header {
        padding: 10px;
        text-align: center;
        font-weight: bold;
    }
</style>